@media screen and (max-width: 1200px) {
    
    .hero-image img{
        width: 400px;
    }
}

@media screen and (max-width: 1080px) {
    
    .hero-image img{
        width: 300px;
    }
    .contactanos-img img{
        width: 250px;
    }
    .contactanos{
        height: auto;
        padding:0px 0px 100px ;
    }

    .portafolio-main-videos-article-video iframe{
        width:500px; 
        height:300px;
    }
    .clientes-description img, .creativos-description img {
        width: 300px;
    }
    .contacto-imagen{
        margin: 0px 60px 0px 0px;
    }

}
@media screen and (max-width: 970px) {
    
    .hero-image img{
        display: none;
    }

    .portafolio{
        height: auto;
        flex-direction: column;

    }
    .portafolio-video{
        margin: 30px 0px 0px;
    }
    
    .post{
        height: auto;
        padding: 100px 0px;
    }
    .post-article-container{
        margin: 70px 0px 0px;
    }
    .post-article-container:nth-child(1){
        margin: 0px;
    }
    .clientes, .creativos{
        flex-direction: column;
    }
    .clientes-description, .creativos-description{
        margin: 0px;
    }
    .contacto-imagen img{
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    
    ul{
        padding: 0px;
    }
    header{
        justify-content: center;
    }
    .header-menu a{
        margin: 0px;
        border-radius: 5px;
    }
    .icon-menu{
        display: none;
    }
    

    /* Hamburguer Menu */
    .close, .hamburger{
        display: initial;
    }
    .hamburger, .close {
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
      }
      
      .hamburger {
        background: white;
      }
      
      .close {
        background: black;
      }
      
      .hamburger img, .close img {
        width: 100%;
        height: 100%;
      }
      
      .navbar {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        list-style: none;
        background: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.2s ease;
      }
      
      .navbar:target {
        transform: translateY(0);
      }
      
      li a {
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
      }
      
      li a:hover, li a:focus {
        border-bottom: 1px solid white;
      }
      /* ----Final Hamburguer---- */

      .hero{
          flex-direction: column;
          text-align: center;
      }
      .about-options{
          flex-direction: column;
          align-items: center;
      }
      .about-title h1{
          margin-bottom: 30px;
      }
      .about-options-container{
          margin-top: 35px;
      }
      .about-options-container:nth-child(1){
          margin-top: 0px;
      }
      .client-logos img{
          width: 60px;
          height: auto;
      }
      .contactanos{
          flex-direction: column;

      }
      .contactanos-img{
          margin: 30px 0px;
      }
      .boton-registro{
          display: flex;
          align-items: center;
          justify-content: center;
      }
      footer{
          flex-direction: column;
          flex-wrap: nowrap;
          height: auto;
          padding: 45px 0px;
      }
      .footer-description{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 15px;
          
      }
      .footer-description h3{
          margin: 0px;
          text-align: center;
      }
      .footer-description h5{
          margin: 5px 0px;
          text-align: center;
      }
      .footer-icons{
          margin-top: 35px;
      }

      .portafolio-main-videos-article{
          flex-direction: column;
      }
      .invertir{
          flex-direction: column-reverse;
      }
      .portafolio-main-videos-article-description-m, .portafolio-main-videos-article-description-if{
          margin: 0px;
          align-items: center;
          height: auto;
          margin-top: 20px;
          text-align: center;
          width: auto;
      }
      .clientes, .creativos{
        align-items: center;
    }
    .clientes-description, .creativos-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .clientes-form, .creativos-form{
        margin: 30px 0px;
    }
    .contacto{
        flex-direction: column;
    }
    .contacto-imagen{
        margin: 0px;
    }
    .contacto-descripcion{
        margin-top: 30px;
    }

}

@media screen and (max-width:540px) {
    .hero-description h1{
        font-size: 40px;
    }
    .hero-description h3{
        font-size: 14px;
    }
    .contactanos-description h2{
        font-size: 25px;
    }
    .post{
        padding: 50px 0px;
    }
    .post-title{
        font-size: 20px;
    }
    .post-article-container{
        padding: 0px 30px;
    }
    .post-article-container img{
        width: 100%;
        height: auto;
    }
    .portafolio-main-videos-article-video iframe{
        width:400px; 
        height:250px;
    }
    .portafolio-main-title{
        padding: 20px 0px 0px;
    }
    .portafolio-main-title h1{
        font-size: 30px;
    }
    .portafolio-main-title h5{
        font-size: 10px;
    }
    
}

@media screen and (max-width:425px) {
    .hero{
        padding: 0px 20px;
    }
    .portafolio-video iframe{
        width: auto;
    }
    .about-title h1{
        font-size: 30px;
    }
    .contactanos-description{
        padding: 0px 30px;
    }
    .contactanos-description h2{
        text-align: center;
    }
    .portafolio-main-videos-article-video iframe{
        width:300px; 
        height:200px;
    }
    .clientes-form input, .clientes-form select, .clientes-form textarea,.creativos-form input, .creativos-form select, .creativos-form textarea{
        width: 250px;
    }

}

@media screen and (max-width:320px) {
    .about-title h1{
        font-size: 25px;
    }
    .client{
        height: auto;
        padding: 44px 0px;
    }
    .client-logos{
        flex-direction: column;
        
    }
    .client-logos img{
        margin: 20px 0px;
    }
    .contactanos-img img{
        width: 150px;
    }
    .contacto-imagen img{
        width: 200px;
    }
    .contacto-descripcion{
        text-align: center;
    }
    .contacto-descripcion h1{
        font-size: 30px;
    }
    .contacto-descripcion h2{
        font-size: 12px;
    }
}
