
:root{
    /* Colores */
    --blanco: #FFFFFF;
    --amarillo: #F9E2A7;
    --turquesa: #6FF1DB;
    --celeste:#DCEFFF;
    --verde: #11bf8b;
    --rosado: #F193EB;
    --lila: #D840FF;
    --morado: #7E25E7;
    --negro: #000000;
    --plomo: #747474;
    --plomoClaro: #B8B8B8;
    --plomo-claro: #E1E1E1;
    --naranja: #FF772A;
    /* fuentes */

    --montserrat: 'Montserrat', sans-serif;
    --roboto:'Roboto Mono', monospace;
}

body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    margin: 0;
}

/* HEADER */

header{
    background-color: var(--negro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    height: 90px;
    
}

.header-logo img{
    width: 171px;
}

.header-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    flex-wrap: wrap;
}

.header-menu a{
    color: var(--blanco);
    margin-right: 15px;
}
.header-menu a:hover{
    color: var(--verde);
}
.header-menu a:nth-child(10){
    margin-right: 0px;
}


/* Pruebas */
.close, .hamburger{
    display: none;
}



/* -----Final pruebas------ */




/* Hero Section  */

.hero{
    margin: 0px;
    height: 850px;
    background-image: url(../Assets/png/background-main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.hero-description h1{
    font-family: var(--montserrat);
    font-size: 60px;
}
.hero-description h3{
    font-family: var(--roboto);
    font-weight: lighter;
    font-size: 18px;
}
.hero-image{
    margin-left: 73px;
}

.hero-image img{
    width: 500px;
}

/* Final de Hero */

/* Portafolio */

.portafolio{
    background-color: var(--lila);
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--blanco);
    height: 386px;
}



.portafolio-description h2{
    font-family: var(--montserrat);
    font-weight: semi-bold;
    font-size: 30px;
}
.portafolio-description p{
    font-family: var(--roboto);
    font-size: 14px;
    font-stretch: condensed;
    margin-bottom: 40px;
}

.portafolio-description a{
    font-family: var(--montserrat);
    font-size: 12px;
    color: var(--blanco);
    background-color: transparent;
    border: solid var(--blanco) 2px;
    border-radius: 20px;
    padding: 15px 25px;
}

.portafolio-description a:hover{
    background-color: var(--blanco);
    color: var(--lila);
    font-weight: bold;
}

.portafolio-video iframe{
    width: 381px;
    height: 226px;
}


/* ----Final portafolio----  */

/* Sobre Nosotros */

.about{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    text-align: center; 
    flex-wrap: wrap;
}
.about-title h1{
    margin-bottom: 70px;
    font-family: var(--montserrat);
    font-weight: medium;
    font-size: 60px;
}
.about-options{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.about-options-container img{
    width: 100px;
}
.about-options-container h3{
    font-family: var(--montserrat);
    font-weight:600;
    font-size: 20px;
    margin: 36px 0 14px;
}
.about-options-container p{
    font-family: var(--roboto);
    font-weight: regular;
    margin: 0;
    font-size: 14px;
    color: var(--plomo);
}

 /* ----Final Sobre Nosotros----  */

.client{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 44px 44px;
    color: var(--plomoClaro);
    border-top: solid var(--plomo-claro) 1px;
    height: auto;
    flex-wrap: wrap;
}
.client-title h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
}

.client-logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 18px;
}

.client-logos img{
    width: 100%;
    -webkit-filter: grayscale(100%);
}
.client-logos img:hover{
    -webkit-filter: grayscale(0%);
}


/* ----Final Clientes ---- */

/* Contactanos */
.contactanos{
    height: 584px;
    background: rgb(249,226,167);
    background: linear-gradient(90deg, rgba(249,226,167,1) 0%, rgba(111,241,219,1) 76%, rgba(241,147,235,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactanos-img {
    margin: 73px;
}
.contactanos-img img{
    width: 417px;
}
.contactanos-description h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 30px;
}

.contactanos-description p {
    font-family: var(--roboto);
    font-size: 14px;
    color: var(--plomo);
    margin-bottom: 44px;
}
.contactanos-description a{
    background-color: transparent;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 12px;
    border: solid var(--negro) 2px;
    padding: 12px 22px;
    color: var(--negro);
    border-radius: 15px;
}
.contactanos-description a:hover{
    background-color: var(--negro);
    color: var(--blanco);
    font-weight: bold;
}

/* ----Final Contactanos---- */

/* Post */

.post{
    height: 650px;
    padding: 50px 0px 0px; 
    text-align: center;
}
.post-title{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 37px;
}

.post-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.post-article-container{
    margin-right: 54px;
    text-align: left;
}
.post-article-container:nth-child(2){
    margin-right: 0px;
}
.post-article-container img{
    width: 455px;
    height: 220px;
    border-radius: 5px;
}
.post-article-container h4{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
}
.post-article-container p{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 12px;
    color: var(--plomo);
}
.post-article-container-time{
    border-top: solid var(--plomo) 1px;
    font-family: var(--roboto);
    font-size: 12px;
    color: var(--plomo);
    padding-top: 16px;
}

/* ---Final Post--- */

/* Footer */

footer{
    display: flex;
    height: 149px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--negro);
    color: var(--blanco);
    font-family: var(--montserrat);
    flex-wrap: wrap;
}

.footer-description h3{
    font-size: 12px;
    font-weight: 700;
}
.footer-description h5{
    font-size: 12px;
    font-weight: lighter;

}
.footer-description a{
    font-size: 12px;
    font-weight: lighter;
    color: var(--blanco);
}
.footer-icons{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icons a{
    color: var(--blanco);
}

/* ----Final Footer---- */


/*------FINAL INDEX------ */


/* Portafolio  */

.portafolio-main-title{
    padding: 67px 100px 0px;
    text-align: center;
}

.portafolio-main-title h1{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 60px;
    margin: 15px 0px;
}
.portafolio-main-title h5{
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 18px;
    color: var(--plomo);
    margin: 15px 0px;
}

/* ---Final Portafolio---- */

/* Videos */


.portafolio-main-videos-article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 30px 0px;
    margin: 57px 0px;
    border-top: solid var(--plomo-claro) 1px;
}
.portafolio-main-videos-article-video iframe{
    width:640px; 
    height:360px;
}


.portafolio-main-videos-article-description-if{
    width: 600px;
    height: 317px;
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.portafolio-main-videos-article-description-m{
    width: 600px;
    height: 317px;
    margin-right: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.portafolio-main-videos-article-description-if h2, .portafolio-main-videos-article-description-m h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
}

.portafolio-main-videos-article-description-if p, .portafolio-main-videos-article-description-m p{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 14px;
    color: var(--plomo);
}

/* ----Final Videos----- */

/* Article */

.portafolio-article{
    background: rgb(241,147,235);
    background: linear-gradient(90deg, rgba(241,147,235,1) 0%, rgba(111,241,219,1) 100%, rgba(241,147,235,1) 100%);
    padding: 78px 0px;
    font-family: var(--montserrat);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portafolio-article h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 26px;
}
.portafolio-article a{
    color: var(--negro);
    font-size: 12px;
    font-weight: 700;
    padding: 12px 36px;
    width: auto;
    height: 15px;
    border: solid var(--negro) 1px;
    border-radius: 15px;
}
.portafolio-article a:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

/* -----Final Portafolio----- */

/* Clientes */

.clientes{
    padding: 31px 140px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.clientes-description{
    margin-right: 186px;
}
.clientes-description img{
    width: 500px;
}
.clientes-description h1{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 30px;
    color: var(--morado);
}
.clientes-description p{
    font-family: var(--roboto);
    font-size: 18px;
    color: var(--plomo);
}
.clientes-form form{
    display: flex;
    flex-direction: column;
}
.clientes-form li{
    list-style: none;
}
.clientes-form h3{
    font-family: var(--roboto);
    font-size: 14px;
}
.clientes-form input{
    width: 374px;
    height: 35px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.clientes-form select{
    width: 380px;
    height: 40px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.clientes-form textarea{
    width: 374px;
    height: 130px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.clientes-form button{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 12px;
    width: 120px;
    height: 40px;
    padding: 12px 36px;
    border: solid var(--negro) 1px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 44px;
}
.clientes-form button:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

/* Final Clientes */

/* ---Creativos---- */

.sections-container{
    height: 100vh;
}
.creativos{
    padding: 31px 140px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.creativos-description{
    margin-right: 186px;
}
.creativos-description img{
    width: 500px;
}
.creativos-description h1{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 30px;
    color: var(--naranja);
}
.creativos-description p{
    font-family: var(--roboto);
    font-size: 18px;
    color: var(--plomo);
}
.creativos-form form{
    display: flex;
    flex-direction: column;
}
.creativos-form li{
    list-style: none;
}
.creativos-form h3{
    font-family: var(--roboto);
    font-size: 14px;
}
.creativos-form input{
    width: 374px;
    height: 35px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.creativos-form select{
    width: 380px;
    height: 40px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.creativos-form textarea{
    width: 374px;
    height: 130px;
    border-radius: 4px;
    border: solid var(--plomoClaro) 1px;
}
.creativos-form button{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 12px;
    width: 120px;
    height: 40px;
    padding: 12px 36px;
    border: solid var(--negro) 1px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 44px;
}
.creativos-form button:hover{
    background-color: var(--negro);
    color: var(--blanco);
}
#name, #phone, #mail, #habilidades, #link, #mensaje{
    color: var(--plomoClaro);
    padding-left: 10px;
}



/* ----Final Creativos----- */

/* Contacto */

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 515px;
    padding: 31px 0px 115px ;
}
.contacto-imagen{
    margin: 0px 114px 0px 0px;
}
.contacto-imagen img{
    width: 474px;
}
.contacto-descripcion h1{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 60px;
    color: var(--morado);
}
.contacto-descripcion h2{
    margin-top: 36px;
    font-family: var(--roboto);
    font-weight: 400;
    color: var(--plomo);
    font-size: 16px;
}
.contacto-descripcion h2:nth-child(3){
    padding-top: 25px;
    border-top: solid var(--plomo) 1px;
}

/* ---Final ContactoPage---- */

/* Equipo */

.team-info{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 65px 30px;
}
.team-info-description{
    width: 507px;
    margin-right: 87px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.team-info-description h1{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 60px;
    color: var(--morado);
}
.team-info-description p{
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 300;
    color: var(--plomo);
}
.team-info-image img{
    width: 572px;
    height: 394px;
}

.team{
    padding: 83px 30px;
    border-top: solid var(--morado) 1px;
}
.team-title h1{
    text-align: center;
    font-family:  var(--montserrat);
    font-size: 30px;
    font-weight: 700;
}
.team-photos{
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: auto;
    grid-row-gap: 90px;
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-member img{
    width: 170px;
}
.team-member h3{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 20px;
    color: var(--morado);
    margin: 14px 0 9px;
}
.team-member h5{
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: lighter;
    color: var(--plomo);
    margin: 0px;
}

/* -----Fin Team---- */


/* Servicios */

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    margin-bottom: 95px;
    
}
.servicios-title{
    width: 428px;
}
.servicios-title h1{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 60px;
    margin: 20px 0px; 
}
.servicios-title h3{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: var(--plomo);
}
.servicios-image{
    margin: 0;
    width: 400px !important;
    text-align: center;
}
.servicios-image img{
    width: 100%;

}

.functionS{
    text-align: center;
}
.functionS-title h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}
.functionS-numbers{
    margin: 97px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number h1{
    height: 50px; 
    width: 50px; 
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    border: 2px solid var(--morado);
    padding: 20px;
    margin: 0px;
    border-radius: 50%;
    text-align: center;
}
.number p{
    margin-top: 22px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 14px;
}
.number li{
    color: var(--morado);
    margin: 0;
}

.options{
    padding: 50px 222px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 66px;
    grid-row-gap: 48px;
    align-items: center;
}
.option{
    display: flex;
    flex-direction: column;
    padding: 0px 30px ;
    align-items: initial;
}
.option img{
    width: 60px;
    margin-bottom: 15px;
}

.option h1{
    font-family: var(--montserrat);
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    margin: 0;
    padding: 10px 0px;
}
.option p{
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
    color: var(--plomo);
}

