
:root{
    /* Colores */
    --blanco: #FFFFFF;
    --amarillo: #F9E2A7;
    --turquesa: #6FF1DB;
    --verde: #11bf8b;
    --rosado: #F193EB;
    --lila: #D840FF;
    --morado: #7E25E7;
    --negro: #000000;
    --plomo: #747474;
    --plomoClaro: #B8B8B8;
    --plomo-claro: #E1E1E1;

    /* fuentes */

    --montserrat: 'Montserrat', sans-serif;
    --roboto:'Roboto Mono', monospace;
}

body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    margin: 0;
}

/* HEADER */

header{
    background-color: var(--negro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    height: 90px;
    
}

.header-logo img{
    width: 171px;
}

.header-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    flex-wrap: wrap;
}

.header-menu a{
    color: var(--blanco);
    margin-right: 15px;
}
.header-menu a:hover{
    color: var(--verde);
}
.header-menu a:nth-child(10){
    margin-right: 0px;
}


/* Pruebas */
.close, .hamburger{
    display: none;
}



/* -----Final pruebas------ */




/* Hero Section  */

.hero{
    margin: 0px;
    height: 850px;
    background-image: url(../Assets/png/background-main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.hero-description h1{
    font-family: var(--montserrat);
    font-size: 60px;
}
.hero-description h3{
    font-family: var(--roboto);
    font-weight: lighter;
    font-size: 18px;
}
.hero-image{
    margin-left: 73px;
}

.hero-image img{
    width: 500px;
}

/* Final de Hero */

/* Portafolio */

.portafolio{
    background-color: var(--lila);
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--blanco);
    height: 386px;
}



.portafolio-description h2{
    font-family: var(--montserrat);
    font-weight: semi-bold;
    font-size: 30px;
}
.portafolio-description p{
    font-family: var(--roboto);
    font-size: 14px;
    font-stretch: condensed;
    margin-bottom: 40px;
}

.portafolio-description a{
    font-family: var(--montserrat);
    font-size: 12px;
    color: var(--blanco);
    background-color: transparent;
    border: solid var(--blanco) 2px;
    border-radius: 20px;
    padding: 15px 25px;
}

.portafolio-description a:hover{
    background-color: var(--blanco);
    color: var(--lila);
    font-weight: bold;
}

.portafolio-video iframe{
    width: 381px;
    height: 226px;
}


/* ----Final portafolio----  */

/* Sobre Nosotros */

.about{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    text-align: center; 
    flex-wrap: wrap;
}
.about-title h1{
    margin-bottom: 70px;
    font-family: var(--montserrat);
    font-weight: medium;
    font-size: 60px;
}
.about-options{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.about-options-container img{
    width: 100px;
}
.about-options-container h3{
    font-family: var(--montserrat);
    font-weight:600;
    font-size: 20px;
    margin: 36px 0 14px;
}
.about-options-container p{
    font-family: var(--roboto);
    font-weight: regular;
    margin: 0;
    font-size: 14px;
    color: var(--plomo);
}

 /* ----Final Sobre Nosotros----  */

.client{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 44px 0px 0px;
    color: var(--plomoClaro);
    border-top: solid var(--plomo-claro) 1px;
    height: 180px;
    flex-wrap: wrap;
}
.client-title h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
}

.client-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
}

.client-logos img{
    width: 100px;
    height: 33px;
}

/* ----Final Clientes ---- */

/* Contactanos */
.contactanos{
    height: 584px;
    background: rgb(249,226,167);
    background: linear-gradient(90deg, rgba(249,226,167,1) 0%, rgba(111,241,219,1) 76%, rgba(241,147,235,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactanos-img {
    margin: 73px;
}
.contactanos-img img{
    width: 417px;
}
.contactanos-description h2{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 30px;
}

.contactanos-description p {
    font-family: var(--roboto);
    font-size: 14px;
    color: var(--plomo);
    margin-bottom: 44px;
}
.contactanos-description a{
    background-color: transparent;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 12px;
    border: solid var(--negro) 2px;
    padding: 12px 22px;
    color: var(--negro);
    border-radius: 15px;
}
.contactanos-description a:hover{
    background-color: var(--negro);
    color: var(--blanco);
    font-weight: bold;
}

/* ----Final Contactanos---- */

/* Post */

.post{
    height: 650px;
    padding: 50px 0px 0px; 
    text-align: center;
}
.post-title{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 37px;
}

.post-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.post-article-container{
    margin-right: 54px;
    text-align: left;
}
.post-article-container:nth-child(2){
    margin-right: 0px;
}
.post-article-container img{
    width: 455px;
    height: 220px;
    border-radius: 5px;
}
.post-article-container h4{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
}
.post-article-container p{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 12px;
    color: var(--plomo);
}
.post-article-container-time{
    border-top: solid var(--plomo) 1px;
    font-family: var(--roboto);
    font-size: 12px;
    color: var(--plomo);
    padding-top: 16px;
}

/* ---Final Post--- */

/* Footer */

footer{
    display: flex;
    height: 149px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--negro);
    color: var(--blanco);
    font-family: var(--montserrat);
    flex-wrap: wrap;
}

.footer-description h3{
    font-size: 12px;
    font-weight: 700;
}
.footer-description h5{
    font-size: 12px;
    font-weight: lighter;
}
.footer-icons{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icons a{
    color: var(--blanco);
}

